@media only screen and (max-width: 400px) {
    .container-login {
        max-width: 300px;
    }
}

@media only screen and (max-width: 387px) {
    .logo-button {
        font-size: 15px;
    }
    .login-button {
        font-size: 15px;
    }
}

@media only screen and (max-width: 490px) {
    .title h3 {
        line-height: 35px;
        text-align: center;
    }
    .title {
        margin-top: -10px;
    }
    .forum-title h3 {
        font-size: 20px;
        padding: 2px 7px;
    }
    .responsive-box {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .ask-your-Q {
        p, h3 {
            text-align: center;
            padding-right: 15px;
            padding-left: 15px;  
        }   
    }
}

@media only screen and (max-width: 631px) {
    .developers,
    .games,
    .contact {
        padding: 70px 50px;
    }
}

@media only screen and (max-width: 767px) {
    .section-item-1 {
        padding: 35px;
    }
    .section-item-2 {
        padding: 35px;
    }
    .section-item-3 {
        padding: 35px;
    }
    .footer-bottom {
        text-align: center;
    }
    .account {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .contact {
        padding: 30px 25px !important;
    }
    .back-to-ask-box {
        margin: 0 !important;
    }
}

@media only screen and (max-width: 992px) {
    .section-header {
        margin-bottom: -20px;
    }
    .section-header-boxs {
        margin: 20px;
    }
    .search-box-big {
        display: none;
    }
    .header-responsive {
        display: none !important;
    }
    .mobile-header {
        display: block !important;
    }
    // body {
    //     padding-bottom: 130px;
    // }
    .footerBox {
        margin-bottom: 50px;
        border-bottom: 2px solid white;
    }
    .account-sidebar-links {
        text-align: center;
    }
    .account-section {
        margin-top: 30px;
    }
    .not-display-in-mobile {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .question-answer {
        display: none;
    }
    .question-visit {
        display: none;
    }
}