body {
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 70px;
    background-color: #16171a !important;
    color: #fff !important;
}

html {
    position: relative;
    min-height: 100%;
}

a {
    text-decoration: none !important;
}

.question-box-bottom-mobile-display {
    display: none;
}

.question-box-bottom-mobile-display {
    padding: 5px 0px 5px 0;
}

.number-of-comments-homepage {
    float: left;
    margin: 5px;
}

.loader-spinning-wheel {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border: 5px solid #cccccc;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 50%;
    border-top: 5px solid #29a58d;
    animation: loader-spin infinite 1s linear;
}
  
@keyframes loader-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@import "responsive";
@import "editor";
@import "pages/main";