/* COMING SOON */

body {
    background: #16171a;
}

.section-header-boxs {
    color: #fff;
    background: #212226;
}

.title h3 {
    color: #fff;
}

.question-box {
    color: #fff;
    background: #212226;
}

.footer {
    background: #212226;
}

.title-a {
    background: transparent;
    color: #29a58d;
    border-radius: 50px;
    padding: 2px;
    transition: all 0.3s ease;
    border: 1px solid #29a58d;
    font-weight: 300;
    font-size: .8em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.title-a:hover {
    background: transparent;
    color: #aae68b;
    transition: all 0.3s ease;
    border: 1px solid #aae68b;
}

.header {
    background: #212226;
}

.logo-button {
    color: #eee;
    &:hover {
        color: #eee;
    }
}