/* About */

.about {
    padding: 30px 200px;
}

.about-title {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 900;
}

.about-description {
    text-align: center;
    line-height: 30px;
    margin-bottom: 30px;
}

.about-links {
    color: #29a58d;
    font-size: 28px;
    margin: 15px;
}

.about-social-media-box {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.our-team-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.our-team-box {
    text-align: center;
    margin-bottom: 30px;
}