$font-family-IRANYekan: "IRANYekanWebFn-Light" !important;
$font-size-medium: 14px;
$font-size-little: 12px;

/* Froum */

.ask-your-Q {
    margin-bottom: 20px;
    margin-top: 40px;
    line-height: 35px;
}

.ask-input-title {
    font-family: $font-family-IRANYekan;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    padding: 8px;
    box-sizing: border-box;
    font-size: $font-size-medium;
    border-radius: 10px;
    margin: 10px 0 15px;
    height: 40px;
    resize: none;
}

.ask-input-description {
    font-family: $font-family-IRANYekan;
    background: #f2f2f2;
    width: 100%;
    height: 250px;
    border: 0;
    padding: 8px;
    box-sizing: border-box;
    font-size: $font-size-medium;
    border-radius: 10px;
    margin: 10px 0 15px;
    resize: vertical;
}

.ask-tags {
    margin-top: 25px;
}

.tags-button {
    cursor: pointer;
    background: #29a58d;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
}

.ask-description-textarea {
    font-family: "IRANYekanWebFn-Light" !important;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    padding: 8px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 10px;
    margin: 10px 0 15px;
    height: 200px;
    resize: none;
}

.ask-image {
    margin: 10px 0 30px;
}

.askbox-img-upload {
    margin-top: 20px;
}

.ask-input-tags {
    font-family: $font-family-IRANYekan;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: $font-size-medium;
    border-radius: 5px;
    margin: 10px 0 15px;
    height: 40px;
    resize: none;
}

.success-actions {
    background: #29a58d;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(20,83,155,.05);
    padding: 10px 15px 5px 15px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.faile-actions {
    background: red;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(20,83,155,.05);
    padding: 10px 15px 5px 15px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.back-to-ask-box {
    border: 1px solid #29a58d;
    color: #29a58d;
    border-radius: 5px;
    padding: 10px 15px 5px;
    text-align: center;
    margin: 50px 200px 20px;
    &:hover {
        background: transparent;
        color: #aae68b;
        transition: all 0.3s ease;
        border: 1px solid #aae68b;
        cursor: pointer;
    }
}

.ask-box {
    background: #fff;
    box-shadow: 0 5px 10px 0 rgba(20, 83, 155, .05);
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
}

.ask-input-button {
    background: #29a58d;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
    border: 0;
    margin: 20px 0 0;
    font-family: $font-family-IRANYekan;
}

.breadcrumb {
    padding: 1px 15px 1px 15px !important;
    background-color: unset !important;
}

.breadcrumb a {
    color: #333;
}

.question-search-box {
    margin-top: 20px;
}

.question-box {
    background: #fff;
    box-shadow: 0 5px 10px 0 rgba(20, 83, 155, .05);
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.2s ease;
    &:hover {
        box-shadow: 0 20px 30px 0 rgba(20, 83, 155, .08);
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
        transition: all 0.2s ease;
    }
}

.question-box h4 {
    font-weight: 600;
    line-height: 30px;
}

.question-box p {
    text-align: justify;
    line-height: 22px;
    font-size: $font-size-little;
}

.question-box-bottom {
    margin-top: 15px;
    border-top: 1px #ddd solid;
    padding: 10px 0 5px 0;
}

.question-box-big {
    background: #fff;
    box-shadow: 0 5px 10px 0 rgba(20, 83, 155, .05);
    padding: 5px 25px 10px 25px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.question-box-big-p {
    line-height: 32px;
    font-size: 16px;
}

.question-box-big-tags {
    font-size: $font-size-little;
    background: #eee;
    padding: 10px;
    border-radius: 10px;
    max-width: -moz-fit-content;
}

.question-answer-big {
    background: #fff;
    box-shadow: 0 5px 10px 0 rgba(20, 83, 155, .05);
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    left: 15px;
}

.question-answer-big-p {
    line-height: 30px;
    margin-top: 15px;
}

.answer-again {
    margin-right: 45px;
}

.question-answer {
    padding: 5px 5px 5px 5px;
    max-width: max-content;
    border-radius: 5px;
    position: absolute;
    left: 15px;
}

.question-visit {
    padding: 5px 5px 5px 0px;
    max-width: max-content;
    position: absolute;
    left: 5px;
}

.your-answer-box {
    background: #fff;
    padding: 15px;
    border-radius: 15px;
}

.question-tags {
    background: rgb(242, 242, 242) none repeat scroll 0% 0%;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    color: rgb(117, 117, 117);
    font-size: 12px;
    display: inline-block;
    font-family: "IRANYekanWebFn-Light";
}

.question-tag-box {
    margin: 20px 0 15px 0;
}

.question-tags-homepage {
    padding: 0 5px;
    max-width: max-content;
    display: inline-block;
    background: rgb(242, 242, 242) none repeat scroll 0% 0%;
    border-radius: 5px;
    color: rgb(117, 117, 117);
    font-family: "IRANYekanWebFn-Light"; 
    margin: 8px 0 0 5px;
}

.question-tags-homepage-mobile-display {
    background: rgb(242, 242, 242) none repeat scroll 0% 0%;
    border-radius: 5px;
    color: rgb(117, 117, 117);
    padding: 0 5px;
    max-width: max-content;
    display: inline-block;
    font-family: "IRANYekanWebFn-Light"; 
    margin-left: 5px;
}

.question-date {
    padding: 5px 5px 5px 0px;
    max-width: max-content;
    opacity: 0.7;
}

.username-answer {
    color: #29a58d;
}

.forum-ad {
    width: 100%;
    border-radius: 10px;
}

.forum-ad-box {
    margin-top: 15px;
    width: 100%;
    height: auto;
}

.question-box-link {
    color: #333;
}

.forum-title-view {
    text-align: center;
}

.forum-title-ask {
    width: auto !important;
    text-align: center;
}

.forum-title-last-seen {
    width: auto !important;
    text-align: center;
}

.forum-title {
    position: relative;
    margin-bottom: 40px;
}

.forum-title-QuestionBox {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px #eee solid;
}

.forum-title-QuestionBox h3 {
    line-height: 30px;
}

.forum-title-questions {
    position: relative;
    margin-bottom: 40px;
    margin-top: 40px;
}

.post-img-box {
    text-align: center;
    margin-bottom: 15px;
    border-radius: 10px;
    background: #000;
}

.post-img {
    max-width: 90%;
    max-height: 600px;
}

.post-content-box {
    margin-top: 30px;
}

.comment-button {
    background: transparent;
    color: #29a58d;
    border-radius: 5px;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    transition: all 0.3s ease;
    font-weight: 300;
    font-size: 13px;
    border: 1px solid #29a58d;
    &:hover {
        background: transparent;
        color: #aae68b;
        transition: all 0.3s ease;
        border: 1px solid #aae68b;
        cursor: pointer;
    }
}

.uploading-loader-box {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
}

.login-text-green {
    background: #29a58d !important;
    color: #fff !important;
    text-align: center;
    line-height: 30px;
    transition: all 0.2s ease;
    &:hover {
        box-shadow: 0 20px 30px 0 rgba(20, 83, 155, .08);
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
        transition: all 0.2s ease;
    }
}

.sidebar {
    padding: 10px 15px 5px 15px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 5px 10px 0 rgba(20, 83, 155, .05);
    margin-bottom: 20px;
}

.sidebar-user-links {
    color: #333333;
}

.contact-links {
    text-align: center;
}

.contact-icons-sidebar {
    color: #29a58d;
    font-size: 25px;
    margin: 0 15px;
}