$font-size-medium: 14px;
$font-size-little: 12px;

/* Login */

.login-page {
    width: 100%;
    padding: 15% 0 0;
    margin: auto;
}

.form {
    position: relative;
    background: #212226;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(20, 83, 155, .05);
    border-radius: 10px;
}

.form input {
    outline: 0;
    background: #d1d1d1;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: $font-size-medium;
    border-radius: 10px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: #29a58d;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: $font-size-medium;
    transition: all 0.2 ease;
    cursor: pointer;
    border-radius: 10px;
}

.terms {
    margin-bottom: 15px;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #aae68b;
    transition: all 0.2s ease;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: $font-size-little;
    span {
        cursor: pointer;
        &:hover {
            color: #29a58d;
        }
    }
}

.container-login {
    position: relative;
    /* z-index: 1; */
    max-width: 400px;
    margin: 0 auto;
}

.container-login:before,
.container-login:after {
    content: "";
    display: block;
    clear: both;
}

.container-login .info {
    margin: 50px auto;
    text-align: center;
}

.container-login .info span {
    color: #4d4d4d;
    font-size: $font-size-little;
}

.container-login .info span a {
    color: #000000;
    text-decoration: none;
}

.container-login .info span .fa {
    color: #EF3B3A;
}